

/* body {
    background: url(/images/Emma\ Thomson\ na\ Instagrame_\ „What’s\ in\ a\ name_\ ⠀⠀…\ \(1\).png);
    background-repeat: no-repeat; 
    background-size: cover
  } */
 body{
background-image: url(https://bit.ly/2P5816x);
background-repeat:no-repeat;
background-size: cover;
 }
   h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: white;
    text-decoration: underline;
  } 
 
  /* .img {
    float: right;
    border-radius: 40%;
    justify-content: right;
  } */
 
  p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
  }
/*  
  .me input {
    width: 80%;
    margin-bottom: 4%;
  } */

.button {
  margin-top: 50px;
  margin-left: 1%;
}

.card {
  padding: 5%;
}
 .radio {
   margin-top: 40%;
 }

.jumbotron {
  margin-left: 5%;

}

#winnie {
  color: white;
  text-align: center;
}
